//
//  Secret.xcconfig
//  FilmAt-iOS
//
//  Created by 박신영 on 1/25/25.
//

BASE_URL = https:/$()/api.themoviedb.org/3
ACCESS_TOKEN = eyJhbGciOiJIUzI1NiJ9.eyJhdWQiOiI3YmNmOTkwYmUxNjZhZjk3YWY2Y2QyOTI3YTk5MDVmMCIsIm5iZiI6MTczNjg4MzUyNS43NjQ5OTk5LCJzdWIiOiI2Nzg2YmQ0NWJkMzk1NWIyNDY3YWY2OTIiLCJzY29wZXMiOlsiYXBpX3JlYWQiXSwidmVyc2lvbiI6MX0.NFz01xUvLbo8vQIZs0fqq4_sqk6enrUU2ppa2UOvJVc
